@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Dancing+Script|Poiret+One|Lobster');

body {
	font-family: 'Lato', sans-serif;
	margin: 0;
}

h1, h2, h3, h4, h5 {
	font-family: 'Poiret One', cursive; 
}


* {
	outline: none!important;
	text-decoration: none!important;
}

*:hover, *:focus, *:visited, *.active, *.focus, *.visited {
    outline-style: none!important;
    outline: none!important; 
}



.row:before, .row:after {
	display: table;
	content: "";
}

.row:after {
	clear: both;
}


.container {
	background-color: #000;
	margin: 0;
	padding: 0;
	width: 100vw;
}	

.navbar-default {
	border: none;
}

.navbar-nav {
    float: right;
    margin: 0;
    padding-right: 50px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: "Poiret One",cursive;
    font-size: 1.4em;
}

.navbar-default .navbar-nav>li>a:visited {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover   {
	color: #EF6E87;
}



.jumbotron h1 {
	color: #fed4e3;
	font-size: 4em;
	padding-right: 10%;
	margin-top: 0;	
}


.button1 {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;  
  box-shadow: 0 11px 8px -10px rgba(51, 51, 51, .5);
  overflow: hidden;
}

.jumbotron {
	display: flex;
	margin: 0;
	padding: 0;
	background: url(http://www.ink.media.pl/photo/piano.png) 0/cover;
	height: calc(100vh - 51px);
	justify-content: flex-end;
	align-items: center;
}

.music {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 150px;
    z-index: 3;
}

.music i {
	font-size: 4em;
	color: #fed4e3;
}

.music h1 {
  padding: 0;
}

.waveBox {
  width: 800px;
  height: 900px;
  border-radius: 50%;
  position: absolute;
  animation: waver 5s .5s infinite linear;
  background-color: #FC9FB1;
  opacity: .8;
  left: -150px;
  top: 30px;
  transform-origin: center center;
}

@keyframes waver {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

#waveTwo {
  background-color: #EF6E87;
  opacity: .8;
  left: -450px;
  animation: waver 5s infinite linear;
}

#waveThree {
  background-color: #FC9FB1;
  opacity: .5;
  left: 150px;
  animation: waver 5s 1.5s infinite linear; 
}


.quote {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px 0;
}

blockquote {
  background: #fff;
  border-left: 10px solid #b06b78;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #b06b78;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-family: 'Poiret One', cursive;
  font-weight: 900;
  font-size: 3em;
  color: #363636;
}

blockquote cite {
color: #363636;
font-size: 14px;
display: block;
margin-top: 5px;
margin-left: 5%;
font-family: verdana, sans-serif;
}
 
blockquote cite:before {
content: "\2014 \2009";
}

.gallery {
	max-width: 1400px;
	margin: 0 auto;
}

.gallery1,
.gallery2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-around;
}

.gallery1 {
	margin-bottom: 80px;
}

.photo img {	
	border: 20px solid #ffdce3;	
	width: 350px;
}

.photo p {
	text-align: center;
	width: 350px;
	margin: 15px auto;
	font-size: 13px;
	font-family: verdana, sans-serif;
}

.photo {
	flex: 1;
	text-align: center;
}


/*WHAT PLAYS IN MY SOUL?*/

.text {
	
	margin: 5% 0;
	background-color: #625e5f;
	padding: 5% 5%;
}


.headline {
	width: 100%;
	float: left;
}

.headline h2 {
	font-family: 'Poiret One', cursive;
	font-size: 2.5em;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 5%;
	padding: 0;
	color: #fff;
}

	
.note {
	display: inline-block;
	float: left;
	width: 30%;
}

.note img {
	border: 25px solid #999;
	text-align: center;
}

/*.text-soul {
	flex: 75%;
	display: flex;
	flex-wrap: wrap;
}
*/
.text60 {
	width: 67%;
	float: left;
	display: inline-block;
}

.text60 p {
	margin: 0;
	line-height: 150%; 
	font-family: verdana, sans-serif;
	color: #fff;
}



.drum {
	display: inline-block
}

.drum h3 {
	color: #fff;
	font-size: 2em;
	margin-top: 50px;
}


.keys {
 margin-top: 40px;
 text-align: center;
}

.key {
    border-radius: 50%;
    margin: 7px;
    margin-top: 7px;
    margin-right: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    font-size: x-small;
    padding: 2em;
    transition: all .07s ease;
    width: 11em;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.12);
    display: inline-block;
}

.playing {
  	transform: scale(1.1);
  	border-color:#fc9fb1;
  	box-shadow: 0 0 1rem #fc9fb1;
}

kbd {
    display: block;
    font-size: 3.5em;
    font-family: "Poiret One",cursive;
    background-color: transparent;
    box-shadow: none;
}

.sound {
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #fc9fb1;
}


/*PRESS BUTTON*/

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.press {
	flex: 100%;
	text-align: center;
}

.press h3 {
	font-weight: bold;
	font-size: 3em;
	margin-top: 18px;
}
	

.cards .sing,
.cards .instruments {
	width: 220px;
	height: 100px;
	margin: 30px;
	box-shadow: none;
	border: none;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	text-align: center;

}

.cards button:focus {
	outline: none;
}

.sing {
	background-color: #ffbac7;
	background-image: linear-gradient(135deg, #ff758f 50%, transparent 50%);
	background-position: 100% 0;
	background-size: 300%;
	font-size: 2em;
	color: #000;
	font-family: 'Poiret One', cursive; 
	font-weight: bold;
}

.sing:hover {
	background-position: 0 100%;
}

.instruments {
	background-color: #5c5859;
	background-image: linear-gradient(135deg, #2a2a2a 50%, transparent 50%);
	background-position: 100% 0;
	background-size: 300%;
	color: #fff;
	font-family: 'Poiret One', cursive;
	font-size: 1.8em;
	font-weight: bold;	
}

.instruments:hover {
	background-position: 0 100%;
}

 .sing > a {
	text-decoration: none;
	color: #000;
	line-height: 100px;
}

.instruments > a {
	text-decoration: none;
	color: #fff;
	line-height: 100px;
}




/*FOOTER*/

.all-footer {
	background-color: #2a2a2a;
	color: #999;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-family: verdana, sans-serif;
	justify-content: space-around;
	font-size: 1em;
	font-weight: 100;
	margin-top: 5%;
	padding: 10px 40px;
}


.address p, .name p, .copyright p {
	margin: 0;
	padding: 0;
	text-align: center;
}
/*--------------------------------MEDIA----------------------------------------------------------*/

@media (max-width: 350px) {
	.photo p {
		width: 300px;
	}
}


@media (max-width: 767px) {
	
	
	.navbar-fixed-top {
		position: static;
	}
	
	.navbar {
		margin-bottom: 0px;
	}
	
	.navbar-nav {
		text-align: center;
		padding-right: 0;
		float: none;
	}
	
	.music {
		padding: 90px
	}
	
	.music i {
		color: #2a2a2a;
		padding-top: 40px;
	}
	
	.jumbotron h1 {
		color: #000000;
		text-align: center;
	}
	
	blockquote p {
		font-size: 2em;
	}
	
	.headline {
		text-align: center;
	}
	
	.note {
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}
	
	.note img {
		max-width: 300px;
	}
	
	.text60 {
		width: 100%;
		padding: 0 5%;
	}
	
	.drum h3{
		padding: 0 5%;
		text-align: center;
	}
	
	.press h3 {
		padding: 0 30px;
	}
	
	.text60 p:first-child {
		margin-top: 30px;
	}
	
	.photo {
		padding: 14px;
	}
	
	.photo img {
		border: 12px solid #ffdce3;
	}
		
	.all-footer {
	
		font-size: 0.8em;
	}
}
	


@media (min-width: 768px) and (max-width: 1024px) {
	
	.music i {
		color: #000000;
		padding-top: 30px;
	}

	.music h1 {
  		color: #000000;
  		font-size: 3.5em;
		font-weight: bolod;
	}
	
	blockquote {
		margin: 1.5em 30px;
	}
	
	.headline h2 {
		text-align: center;
	}
	
	.note {
		width: 50%;
	}
	
	.note img {
		border: 15px solid #999;
	}
	
	.text60 {
		width: 48%;
	}
	
	.drum h3 {
		text-align: center;
	}
	

}

@media (min-width: 1025px) and (max-width: 1366px){


.note {
		width: 35%;
	}
	
	
	.text60 {
		width: 64%;
	}
	
	.drum {
		width: 64%
	}



}





