@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Dancing+Script|Poiret+One|Lobster');

body {
	font-family: 'Lato', sans-serif;
	margin: 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	background-color: #000;
	margin: 0;
	padding: 0;
}	


header > ul {
	display: flex;	
	margin-right: 5%;
}

header > ul > li {
	list-style-type: none;
	padding: 0 20px;
}

header > ul > li > a {
	text-decoration: none;
	color: #fff;
	font-family: 'Poiret One', cursive;
	font-size: 1.2em;
	font-weight: bold;
}

header > ul > li > a:hover {
	color: #EF6E87;
}



.jumbotron h1 {
	font-family: 'Poiret One', cursive;
	color: #fed4e3;
	font-size: 4em;
	padding-right: 10%;
	margin-top: 0;	
}


.button1 {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;  
  box-shadow: 0 11px 8px -10px rgba(51, 51, 51, .5);
  overflow: hidden;
}

.jumbotron {
	display: flex;
	margin: 0;
	padding: 0;
	background: url(http://www.ink.media.pl/photo/piano.png) 0/cover;
	height: calc(100vh - 51px);
	justify-content: flex-end;
	align-items: center;
}

.music {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 150px;
    z-index: 3;
}

.music i {
	font-size: 4em;
	color: #fed4e3;
}

.music h1 {
  padding: 0;
}

.waveBox {
  width: 800px;
  height: 900px;
  border-radius: 50%;
  position: absolute;
  animation: waver 5s .5s infinite linear;
  background-color: #FC9FB1;
  opacity: .8;
  left: -150px;
  top: 30px;
  transform-origin: center center;
}

@keyframes waver {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

#waveTwo {
  background-color: #EF6E87;
  opacity: .8;
  left: -450px;
  animation: waver 5s infinite linear;
}

#waveThree {
  background-color: #FC9FB1;
  opacity: .5;
  left: 150px;
  animation: waver 5s 1.5s infinite linear; 
}


.quote {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 50px 0;
}

blockquote {
  background: #fff;
  border-left: 10px solid #b06b78;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #b06b78;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-family: 'Poiret One', cursive;
  font-weight: 900;
  font-size: 3em;
  color: #363636;
}

blockquote cite {
color: #363636;
font-size: 14px;
display: block;
margin-top: 5px;
margin-left: 5%;
font-family: verdana, sans-serif;
}
 
blockquote cite:before {
content: "\2014 \2009";
}

.gallery {
	max-width: 1400px;
	margin: 0 auto;
}

.gallery1,
.gallery2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-around;
}

.gallery1 {
	margin-bottom: 80px;
}

.photo img {	
	border: 20px solid #ffdce3;	
	width: 350px;
}

.photo p {
	text-align: center;
	width: 350px;
	margin: 15px auto;
	font-size: 13px;
	font-family: verdana, sans-serif;
}

.photo {
	flex: 1;
	text-align: center;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.press {
	flex: 100%;
	text-align: center;
}

.press h3 {
	font-family: 'Poiret One', cursive; 
	font-weight: bold;
	font-size: 3em;
	margin-top: 18px;
}
	

.cards .sing,
.cards .instruments {
	width: 220px;
	height: 100px;
	margin: 30px;
	box-shadow: none;
	border: none;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	text-align: center;

}

.cards button:focus {
	outline: none;
}

.sing {
	background-color: #ffbac7;
	background-image: linear-gradient(135deg, #ff758f 50%, transparent 50%);
	background-position: 100% 0;
	background-size: 300%;
	font-size: 2em;
	color: #000;
	font-family: 'Poiret One', cursive; 
	font-weight: bold;
}

.sing:hover {
	background-position: 0 100%;
}

.instruments {
	background-color: #5c5859;
	background-image: linear-gradient(135deg, #2a2a2a 50%, transparent 50%);
	background-position: 100% 0;
	background-size: 300%;
	color: #fff;
	font-family: 'Poiret One', cursive;
	font-size: 1.8em;
	font-weight: bold;	
}

.instruments:hover {
	background-position: 0 100%;
}

 .sing > a {
	text-decoration: none;
	color: #000;
	line-height: 100px;
}

.instruments > a {
	text-decoration: none;
	color: #fff;
	line-height: 100px;
}

.text {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 5% 0;
	background-color: #625e5f;
	padding: 5% 5%;
}

.headline {
	flex: 100%;
}

.headline h2 {
	font-family: 'Poiret One', cursive;
	font-size: 2.5em;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 5%;
	padding: 0;
	color: #fff;
}
	
.note {
	flex: 1;
}

.note img {
	border: 25px solid #999;
	text-align: center;
}

.text40 {
	flex: 2;
	padding: 0 3%;
}

.text40 p,
.text20 p {
	margin: 0;
	line-height: 150%; 
	font-family: verdana, sans-serif;
	color: #fff;
}

.text20 {
	flex: 1;
}

footer {
	background-color: #2a2a2a;
	color: #999;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: verdana, sans-serif;
	justify-content: space-around;
	font-size: 0.8em;
	font-weight: 100;
	margin-top: 5%;
}

.copyright,
.address {
	flex-grow: 1;
	text-align: center;
}

.name {
	flex-grow: 2;
	text-align: center;	
}

.address p {
	margin: 0;
}
	
@media (max-width: 767px) {

.music {  
    padding: 0 10%;
}

.music i {
	color: #2a2a2a;
}

.music h1 {
  color: #2a2a2a;
  font-size: 3.5em;
}

.photo img,
.photo p {
	width: 200px;
}

.text40,
.text20,
.note {
	flex: 100%
}

.text40 {
	padding: 3% 0;
}

.headline,
 .note {
	text-align: center;
}

.gallery1 {
	margin-bottom: 10px;
}

}

@media (min-width: 768px) and (max-width: 1199px) {

.music {  
    padding: 0 25%;
}

.music i {
	color: #2a2a2a;
}

.music h1 {
  color: #2a2a2a;
  font-size: 3.5em;
}

.photo img,
.photo p {
	width: 220px;
}

.text40,
.guitar 
.text20 {
	flex: 100%
}

.text40 {
	padding: 3% 0;
}

.headline,
.guitar {
	text-align: center;
}

.gallery1 {
	margin-bottom: 10px;
}
}


